<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="tes_standarnd_libs" value="http://passwordmanager:1000/TesService/TES.Standard.Libs/_packaging/tes_standarnd_libs/nuget/v3/index.json" />
	<add key="kundera" value="http://passwordmanager:1000/TesService/75e7d84a-47f5-4414-9e92-c6a2ee66e183/_packaging/kundera/nuget/v3/index.json" />
	<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>